<form id="annotation_formset" method="post" class="w-full max-w-2xl mx-auto">
    {% csrf_token %}
    {{ formset.management_form }}

    <!-- header -->
    <div class="pb-2">
        <div class="flex items-center justify-between">
            <h2 class="card-title text-lg">
                Аннотации
            </h2>

        </div>
    </div>

    <!-- список аннотаций -->
    <div class="flex flex-col gap-2" id="formset-annotations-list">
    </div>

    {{ formset_data|json_script:"formset-data" }}
</form>