<div class="flex h-full">
    <img id="image" src="{{ image.file.url }}" class="hidden" alt="{{ image.id }}">

    <div id="container" class="flex-1 flex items-center justify-center min-w-0">
    </div>

    {{ formset_data|json_script:"formset-data" }}

    <div id="annotation_edit" class="fixed bottom-4 right-4 rounded-lg bg-base-200 p-4 shadow-lg flex items-center gap-2 hidden flyon-theme-primary">
        <label for="edit-label" class="text-content font-medium">Класс:</label>
        <select id="edit-label" class="select select-primary">
            <!-- Опции будут подставлены через JS -->
        </select>
        <button id="delete-rect" class="btn btn-error">Удалить</button>
    </div>
</div>