{% extends 'base.html' %}

{% block content %}
<div class="h-screen flex flex-col">
    <header id="header" class="flex justify-center shrink-0">
        {% include 'annotations/header.html' %}
    </header>

    <main class="flex flex-1 overflow-hidden">
        <div id="leftbar" class="overflow-auto max-h-full">
            {% include 'annotations/leftbar.html' %}
        </div>

        <div id="annotation" class="flex-1 overflow-auto max-h-full">
            {% include 'annotations/annotation.html' %}
        </div>
    </main>
</div>
{% endblock %}