{% extends "base.html" %}
{% load static %}

{% block content %}
    {% include "components/header.html" %}
    <main class="flex items-center flex-col">
        <h1 class="">Создание проекта</h1>
        <form method="post" class="flex flex-col space-y-4 max-w-md">
            {% csrf_token %}
            <div class="flex flex-col">
                <label for="name" class="label-text">Название</label>
                <input type="text" name="name" id="name" class="input {% if form.name.errors %} is-invalid {% endif %}"
                       value="{{ form.name.value|default:'' }}">
                {% if form.name.errors %}
                    <span class="helper-text">{{ form.name.errors.as_text }}</span>
                {% endif %}
            </div>

            <div class="flex flex-col">
                <label for="description" class="label-text">Описание</label>
                <textarea name="description" id="description"
                          class="textarea max-w-sm {% if form.description.errors %} is-invalid {% endif %}">{{ form.description.value|default:'' }}</textarea>
                {% if form.description.errors %}
                    <span class="helper-text">{{ form.description.errors.as_text }}</span>
                {% endif %}
            </div>

            <div class="bg-base-200">
                <p>Классы</p>
                <button type="button" hx-get="{% url 'projects:label-add' %}" hx-target="#labels-container" hx-swap="beforeend" hx-include="[name='labels_formset-TOTAL_FORMS']">Добавить</button>
                {{ labels_formset.management_form }}
                <div id="labels-container">
                    {% for form in labels_formset %}
                        {% include "projects/label_form_row.html" with index=forloop.counter0 name=form.name.value color=form.color.value deleted=form.DELETE.value %}
                    {% endfor %}
                    {% if labels_formset.non_form_errors %}
                        {% if labels_formset.non_form_errors %}
                            <p class="text-error">{{ labels_formset.non_form_errors.0 }}</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            <div>
                <button class="btn btn-primary">Создать</button>
            </div>
        </form>
    </main>

    <script src="{% static 'projects/main.js' %}"></script>
{% endblock %}